/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.form-group{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

input{
  padding-left: 10px;
  border-radius: 4px;
width: 272px;
height: 40px;
}
.search-button{
  border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;
background-color: #4e75ff;
color: white;
}
.image-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 20px;
  
}
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
}
.gallery-item {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}
.gallery-link {
}
.gallery-img {
 width: 360px;
  height: 152px; 
}
.gallery-list {

width: 100%;
height: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: space-around;
align-items: center;
}
.subscribe {
  display: flex;
    flex-direction: column;
    align-items: center;
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #2e2f42;
}
.span-subscribe {
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 12px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #FF3D00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 